In [80]:
import pandas as pd
import random
from tqdm import tqdm

In [45]:
PFE = pd.read_csv('PFE.csv', parse_dates=True)
GE = pd.read_csv('GE.csv', parse_dates=True)
JPM = pd.read_csv('JPM.csv', parse_dates=True)
XOM = pd.read_csv('XOM.csv', parse_dates=True)
MSFT = pd.read_csv('MSFT.csv', parse_dates=True)

In [46]:
PFE.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1990-11-06  2.989603  3.009369  2.964896  2.974779   1.183629   6799565
1  1990-11-07  2.964896  2.984662  2.945130  2.955013   1.175764  15635458
2  1990-11-08  2.945130  2.989603  2.940188  2.955013   1.175764  21220814
3  1990-11-09  2.964896  3.024194  2.959954  3.019252   1.211045  10358712
4  1990-11-12  3.039018  3.103257  3.039018  3.078550   1.234830  10902576

In [56]:
frame = {'Date':PFE['Date'], 'PFE': PFE['Close'], 'GE': GE['Close'], 'JPM': JPM['Close'], 'XOM': XOM['Close'], 'MSFT': MSFT['Close'],}

In [57]:
close_df = pd.DataFrame(frame)

In [58]:
close_df.head()

         Date       PFE         GE       JPM       XOM      MSFT
0  1990-11-06  2.974779  34.214745  3.708333  12.31250  0.892361
1  1990-11-07  2.955013  33.333332  3.583333  12.06250  0.885417
2  1990-11-08  2.955013  33.173077  3.750000  12.31250  0.881944
3  1990-11-09  3.019252  34.455128  3.708333  12.59375  0.899306
4  1990-11-12  3.078550  35.496796  4.000000  12.56250  0.956597

In [59]:
def generate_action():
    num_stocks = 5
    action = []
    while(True):
        for _ in range(num_stocks):
            action.append(random.randrange(-50, 50))
        if sum(action) != 0:
            break
    action = tuple([x/sum(action) for x in action])
    return action
action = generate_action()
print(action)

(1.075, -0.175, -0.4, -0.525, 1.025)

In [81]:
data = pd.DataFrame(columns =['s', 'a', 'r', 'sp'])
for index, row in tqdm(close_df.iterrows()):
    if row["Date"] != "2021-11-05":
        close_prices = (row["PFE"], row["GE"], row["JPM"], row["XOM"], row["MSFT"])
        weights = generate_action()
        next_row = close_df.loc[index+1]
        next_close_prices = (next_row["PFE"], next_row["GE"], next_row["JPM"], next_row["XOM"], next_row["MSFT"])
        
        new_data = {'s': close_prices, 'a': weights, 'r': 0, 'sp': next_close_prices}
        data = data.append(new_data, ignore_index=True)

7811it [00:28, 274.37it/s]

In [82]:
data.head()

,s,a,r,sp
0,"(2.9747790000000003, 34.214745, 3.708333, 12.3...","(0.36470588235294116, 0.4, 0.5647058823529412,...",0,"(2.955013, 33.333332, 3.583333, 12.0625, 0.885..."
1,"(2.955013, 33.333332, 3.583333, 12.0625, 0.885...","(-0.5483870967741935, 0.3709677419354839, -0.3...",0,"(2.955013, 33.173077, 3.75, 12.3125, 0.8819440..."
2,"(2.955013, 33.173077, 3.75, 12.3125, 0.8819440...","(0.14285714285714285, 1.1714285714285715, -0.7...",0,"(3.019252, 34.455128, 3.708333, 12.59375, 0.89..."
3,"(3.019252, 34.455128, 3.708333, 12.59375, 0.89...","(-2.4, 3.2, 0.1, 1.2, -1.1)",0,"(3.07855, 35.496796, 4.0, 12.5625, 0.956596999..."
4,"(3.07855, 35.496796, 4.0, 12.5625, 0.956596999...","(-0.32727272727272727, -0.41818181818181815, 0...",0,"(3.123023, 35.576923, 3.916667, 12.5, 0.953125)"

In [36]:
close_df.loc[0]["PFE"]

TypeError: cannot do index indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [0] of <class 'int'>